body{
    background-color: lightblue;
}

h1{
    color:red;
    text-align:left;
}
h2{
    color:yellow;
    text-align: left;
}
h3{
    color:blue;
    text-align:left;
}
h4{
    color:green;
    text-align:left;
}
h5{
    color:purple;
    text-align:left;
}  
li
}
form{
    color:brown;
    text-align:left;
    width: 100px; ;
}